.userPage__navbar{
  position: absolute;
  width: 100%;
}

.userPage__box{
  height: 100vh;
  position: relative;
}

.userPage__list{
  position: absolute;
  top: 0;
  left: 0;
  float: left;
  width: 20%;
  box-sizing: border-box;
  z-index: 1;
}

.userPage__content{
  margin-left: -8px;
  box-sizing: border-box;
  width: 100%;
  float: left;
}

.userPage{
  box-sizing: border-box;
  width: 33.333333333333333333333333%;
  float: left;
  padding: 10px 0 0 10px;
}

.user__btn{
  z-index: 100;
  top: 15px;
  left: 5px;
}

.userPage__show{
  position: absolute;
}