<div class="contact__box">

    <md-card class="contact__main">
            {{contact.contactType.icon}}
        <div class="contact__fix header__main">
            <label translate="contact.dataTitle"></label>
        </div>


        <div ng-repeat="con in contact.employeeContact">
        <div class="contact__item">

            <md-icon class="contact__fa">phone</md-icon>

            <div  layout="column">
                <a class="contact__value"
                   href="mailto:{{con.contactValue}}">
                    {{con.contactValue}}
                </a>
                <label class="contact__type">{{con.contactType}} </label>

            </div>


            <md-icon class="contact__delete"
                     ng-if="contact.showAdminFunction || contact.showId"
                     ng-click="contact.deleteContactId(con.id)"
                     translate="icons.close"></md-icon>
        </div>
        <md-divider></md-divider>

        </div>

        <md-list-item>
            <md-button class="contact__done"
                       ng-if="contact.showAdminFunction || contact.showId"
                       ng-click="contact.formContainer()"
                       type="submit">
                <md-icon translate="icons.add"></md-icon>
            </md-button>
        </md-list-item>


    </md-card>

    <div ng-if="contact.formContainerVisible"
         class="contact__form">
        <form name="contactForm" novalidate>
            <div class="header__main">
            <label translate="contact.addContact"></label>
            </div>
<div class="contact__margin">
            <div layout="column" flex="100">
                <md-input-container>
                    <input required
                           placeholder="{{'contact.contactValue' | translate }}"
                           name="contactValue"
                           ng-model="contact.contact.contactValue">

                    <div ng-messages="contactForm.contactValue.$error">
                        <div ng-message="required" translate="contact.valueRequired"></div>
                    </div>
                </md-input-container>
            </div>

            <div layout="column" flex="100">
                <md-input-container>
                    <input required
                           placeholder="{{'contact.choose' | translate }}"
                           name="contactType"
                           ng-model="contact.contact.contactType">

                    <div ng-messages="contactForm.contactType.$error">
                        <div ng-message="required" translate="contact.typeRequired"></div>
                    </div>
                </md-input-container>
            </div>

            <div>
                <md-button class="contact__back"
                           ng-click="contact.back()"
                           type="submit">
                    <md-icon translate="icons.back"></md-icon>
                </md-button>
                <md-button class="contact__done"
                           ng-click="contact.saveContact()"
                           type="submit">
                    <md-icon translate="icons.add"></md-icon>
                </md-button>
            </div>
</div>
        </form>
    </div>

</div>

