<md-toolbar class="navbar__top md-hue-2 md-whiteframe-z2" layout="row">
    <div class="navbar__box default-primary-color">

        <!--<a class="navbar__a">-->
            <!--<div class="navbar__menu">-->
                <!--<md-button class="md-icon-button" >-->
                    <!--<md-icon translate="icons.menu"></md-icon>-->
                <!--</md-button>-->
            <!--</div>-->
        <!--</a>-->

        <!--<div class="navbar__title" translate="main.appTitle"></div>-->
        <img style="width: 200px; margin-left: 30px;" src="images/logo.png" alt="relyon ">

        <div class="navbar__right">
            <div class="navbar__welcome">Witaj, {{navbar.employeDetail.name}} {{navbar.employeDetail.lastname}}</div>
            <img src="{{navbar.employeDetail.avatarPath}}"
                 class="md-avatar nav__avatar"
                 alt="{{navbar.employeDetail.name}} avatar" />
            <md-button class="btn__input md-icon-button"
                       ng-if="navbar.showAdminFunction == true"
                       ng-click="navbar.slide()"
                       aria-label="Favorite">

                <md-icon translate="icons.local"></md-icon>
            </md-button>

            <md-button class="md-icon-button"
                       aria-label="More">
                <md-icon translate="icons.msg"></md-icon>
            </md-button>

            <md-button class="md-icon-button"
                       aria-label="More"
                        ng-click="navbar.logout()">
                <md-icon translate="icons.powerSettingsNew"></md-icon>
            </md-button>
        </div>
    </div>

    <div ng-if="navbar.inputContainerVisible" class="navbar__content">
        <forms add-new-employee="navbar.formVisibleAfterAdd($event)"></forms>
    </div>
</md-toolbar>