<div class="userPage__box">


    <div class="userPage__navbar">
        <navbar refresh-list-after-add="userCtr.refreshAfterAdd($event)"></navbar>
    </div>

<div ng-click="userCtr.toggleShow()" class="employeeList__show">
    <md-button class="md-icon-button user__btn">
        <md-icon class="employeeList__icon" translate="icons.menu"></md-icon>
    </md-button>
</div>
<div  ng-if="userCtr.showList == true" class="userPage__list">
    <employee new-employee="userCtr.refreshEmployee"></employee>

</div>

    <div ui-view></div>

</div>
